@font-face {
              font-family: inter;
              src: url("https://assets.dev-bridgewise.com/customization/64dc27cc-079b-4c1d-aa7b-277860b64582/assets/font/thin-inter.ttf") format("truetype");
              font-weight: 100;
              font-display: swap;
            }

@font-face {
              font-family: inter;
              src: url("https://assets.dev-bridgewise.com/customization/64dc27cc-079b-4c1d-aa7b-277860b64582/assets/font/black-inter.ttf") format("truetype");
              font-weight: 900;
              font-display: swap;
            }

@font-face {
              font-family: inter;
              src: url("https://assets.dev-bridgewise.com/customization/64dc27cc-079b-4c1d-aa7b-277860b64582/assets/font/bold-inter.ttf") format("truetype");
              font-weight: 700;
              font-display: swap;
            }

@font-face {
              font-family: inter;
              src: url("https://assets.dev-bridgewise.com/customization/64dc27cc-079b-4c1d-aa7b-277860b64582/assets/font/extrabold-inter.ttf") format("truetype");
              font-weight: 800;
              font-display: swap;
            }

@font-face {
              font-family: inter;
              src: url("https://assets.dev-bridgewise.com/customization/64dc27cc-079b-4c1d-aa7b-277860b64582/assets/font/extralight-inter.ttf") format("truetype");
              font-weight: 200;
              font-display: swap;
            }

@font-face {
              font-family: inter;
              src: url("https://assets.dev-bridgewise.com/customization/64dc27cc-079b-4c1d-aa7b-277860b64582/assets/font/light-inter.ttf") format("truetype");
              font-weight: 300;
              font-display: swap;
            }

@font-face {
              font-family: inter;
              src: url("https://assets.dev-bridgewise.com/customization/64dc27cc-079b-4c1d-aa7b-277860b64582/assets/font/medium-inter.ttf") format("truetype");
              font-weight: 500;
              font-display: swap;
            }

@font-face {
              font-family: inter;
              src: url("https://assets.dev-bridgewise.com/customization/64dc27cc-079b-4c1d-aa7b-277860b64582/assets/font/regular-inter.ttf") format("truetype");
              font-weight: 400;
              font-display: swap;
            }

@font-face {
              font-family: inter;
              src: url("https://assets.dev-bridgewise.com/customization/64dc27cc-079b-4c1d-aa7b-277860b64582/assets/font/semibold-inter.ttf") format("truetype");
              font-weight: 600;
              font-display: swap;
            }


        .font_roboto {
          font-family: inter !important;
        }
        .font_roboto_mono {
          font-family: inter !important;
        }

@theme inline {
  /*Typography */
  --typography-h1: 2rem; /* 32px font size*/
  --typography-h1--line-height: 2.5rem; /* 40px line height*/

  --typography-h2: 1.75rem; /* 28px font size*/
  --typography-h2--line-height: 2.25rem; /* 36px line height*/

  --typography-h3: 1.5rem; /* 24px font size*/
  --typography-h3--line-height: 2rem; /* 32px line height*/

  --typography-h4: 1.25rem; /* 20px font size*/
  --typography-h4--line-height: 1.75rem; /* 28px line height*/

  --typography-h5: 1.125rem; /* 18px font size*/
  --typography-h5--line-height: 1.5rem; /* 24px line height*/

  --typography-body-loose: 1rem; /* 16px font size*/
  --typography-body-loose--line-height: 1.5rem; /* 24px line height*/

  --typography-body-tight: 1rem; /* 16px font size*/
  --typography-body-tight--line-height: 1.25rem; /* 20px line height*/

  --typography-body-2-loose: 0.875rem; /* 14px font size*/
  --typography-body-2-loose--line-height: 1.25rem; /* 20px line height*/

  --typography-body-2-tight: 0.875rem; /* 14px font size*/
  --typography-body-2-tight--line-height: 1rem; /* 16px line height*/

  --typography-body-3-loose: 0.75rem; /* 12px font size*/
  --typography-body-3-loose--line-height: 1rem; /* 16px line height*/

  --typography-body-3-tight: 0.75rem; /* 12px font size*/
  --typography-body-3-tight--line-height: 0.75rem; /* 12px line height*/

  /* Font Families */
  --font-family-roboto: "Roboto", system-ui, sans-serif;
  --font-family-roboto-mono: "Roboto Mono", "Monaco", monospace;
}