@font-face {
  font-family: MeitavCustom;
  src: url("https://assets.dev-bridgewise.com/customization/088af812-e1d6-4648-86b3-b3725b8b484c/assets/font/MeitavCustom/light-meitav.ttf")
    format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: MeitavCustom;
  src: url("https://assets.dev-bridgewise.com/customization/088af812-e1d6-4648-86b3-b3725b8b484c/assets/font/MeitavCustom/regular-meitav.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: MeitavCustom;
  src: url("https://assets.dev-bridgewise.com/customization/088af812-e1d6-4648-86b3-b3725b8b484c/assets/font/MeitavCustom/medium-meitav.ttf")
    format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: MeitavCustom;
  src: url("https://assets.dev-bridgewise.com/customization/088af812-e1d6-4648-86b3-b3725b8b484c/assets/font/MeitavCustom/bold-meitav.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
}

.font_roboto {
  font-family: MeitavCustom !important;
}
.font_roboto_mono {
  font-family: MeitavCustom !important;
}

@theme inline {
  /*Typography */
  --typography-h1: 2rem; /* 32px font size*/
  --typography-h1--line-height: 2.5rem; /* 40px line height*/

  --typography-h2: 1.75rem; /* 28px font size*/
  --typography-h2--line-height: 2.25rem; /* 36px line height*/

  --typography-h3: 1.5rem; /* 24px font size*/
  --typography-h3--line-height: 2rem; /* 32px line height*/

  --typography-h4: 1.25rem; /* 20px font size*/
  --typography-h4--line-height: 1.75rem; /* 28px line height*/

  --typography-h5: 1.25rem;
  --typography-h5--line-height: 1.25rem;

  --typography-body-loose: 1rem;
  --typography-body-loose--line-height: 1rem;

  --typography-body-tight: 1rem;
  --typography-body-tight--line-height: 1rem;

  --typography-body-2-loose: 0.875rem;
  --typography-body-2-loose--line-height: 1rem;

  --typography-body-2-tight: 0.875rem; /* 14px font size*/
  --typography-body-2-tight--line-height: 1rem;

  --typography-body-3-loose: 0.75rem;
  --typography-body-3-loose--line-height: 1rem;

  --typography-body-3-tight: 0.75rem;
  --typography-body-3-tight--line-height: 0.75rem;

  /* Font Families */
  --font-family-roboto: "Roboto", system-ui, sans-serif;
  --font-family-roboto-mono: "Roboto Mono", "Monaco", monospace;
}
